@page
@model AraujoMaterialConstrucao.Pages.AboutUsModel
@{
}

<div class="row justify-content-md-center">
	<div class="col-8 p-5">
		<h1>Welcome to <span class="nome-empresa"> Araujo's Construction Material </span> - Your Trusted Source for Building Materials in Canada!</h1>
		<p>For over 15 years, we have been proud to serve the construction and contractor community across Canada. At <span class="nome-empresa"> Araujo's Construction Material </span>, we believe that every construction project deserves the best quality materials and services. That's why we've become the preferred choice for thousands of customers nationwide.</p>

        <h2>What Sets Us Apart:</h2>
        <ol>
            <li>Product Variety: With a wide range of building materials, from wood and concrete to hardware and insulation, we have everything you need to successfully complete your project. Our products are of high quality and sourced from the most trusted brands in the industry.</li>
            <li>Expert Team: Our team consists of construction materials experts who are ready to help you find the right products for your needs. Whether you're an experienced builder or a beginner, we're here to offer guidance and support.</li>
            <li>Fast and Reliable Delivery: We understand that time is crucial in any construction project. That's why we offer fast and reliable delivery across Canada so you can get to work as quickly as possible.</li>
            <li>Competitive Prices: We provide competitive pricing that fits your budget. We are committed to delivering the best value for high-quality building materials.</li>
            <li>Community Commitment: We believe in supporting the communities we serve. We actively participate in local projects and contribute to the sustainable growth of the construction industry in Canada.</li>
        </ol>

        <p>
            <img class="img-fluid float-end p3" style="max-width: 40%" src="~/construction-4553049_640.jpg"/>
            At <span class="nome-empresa"> Araujo's Construction Material </span>, construction is more than just business; it's our passion. We look forward to being a part of your next project and helping you turn your ideas into reality. Whether you're a residential, commercial, or industrial builder, we're here to meet your needs.
        </p>

        <h2>Contact Us Today!</h2>
        <p>Feel free to reach out to us to place orders, clarify any questions, or get more information about our products and services. We are available to assist you and eager to be your number one choice for building materials in Canada.</p>

        <p>Join us on the journey to build a stronger and more sustainable Canada.</p> 
        <p><strong>+1 (418) 999-9999 or araujo@construction.material.com, Monday - Saturday / 08:00 - 20:00, Québec - QC.</strong></p>
    </div>
</div>