@page
@model AraujoMaterialConstrucao.Pages.EditModel

<div class="row pt-5">
	<div class="col-md-4">
		<form method="post">
			<h4>Tile Edit</h4>
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" asp-for="Tile.TileId"/>

			<div class="form-group">
				<strong><label asp-for="Tile.Name" class="control-label"></label></strong>
				<input asp-for="Tile.Name" class="form-control" />
				<strong><span asp-validation-for="Tile.Name" class="text-danger"></span></strong>
			</div>

			<div class="form-group">
				<strong><label asp-for="Tile.Description" class="control-label"></label></strong>
				<textarea asp-for="Tile.Description" class="form-control" style="height:100px"></textarea>
				<strong><span asp-validation-for="Tile.Description" class="text-danger"></span></strong>
			</div>

			<div class="form-group">
				<strong><label asp-for="Tile.ImageUri" class="control-label"></label></strong>
				<input asp-for="Tile.ImageUri" class="form-control" />
				<strong><span asp-validation-for="Tile.ImageUri" class="text-danger"></span></strong>
			</div>

			<div class="form-group">
				<strong><label asp-for="Tile.Price" class="control-label"></label></strong>
				<input asp-for="Tile.Price" class="form-control" />
				<strong><span asp-validation-for="Tile.Price" class="text-danger"></span></strong>
			</div>

			<div class="form-group mt-3 mb-3">
				<input class="form-check-input" asp-for="Tile.ExpressDelivery" />
				<label asp-for="Tile.ExpressDelivery"></label>
			</div>

			<div class="form-group">
				<strong><label asp-for="Tile.RegistrationDate" class="control-label"></label></strong>
				<input asp-for="Tile.RegistrationDate" class="form-control" />
				<strong><span asp-validation-for="Tile.RegistrationDate" class="text-danger"></span></strong>
			</div>

			<div class="form-group mt-4">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
